@media (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Sora';
    color: #fff;
    background-color: #181e25;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    max-width:80%;
    width: 100%;
    padding: 0 30px;
    gap: 20px;
  }

  .header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }


  .header-wrapper button {
    width: 100%;
    font-size: 18px;
  }

  .benefits {
    justify-content: center ;
        .benefits-infos {
            width: 50%;
            
    }
  }

 

  .courses-wrapper {
    gap: 20px;
  }

  .courses-row {
    flex-direction: column;
    align-items: center;
  }

  .courses-info {
    width: 100%;
    height: auto;
  }

  .legal-text p {
    padding: 0 20px;
    font-size: 9px;
  }

  main {
    padding: 30px 30px;
  }

  .steps-wrapper {
    gap: 30px;
  }

  .steps-wrapper h1 {
    max-width: 100%;
    font-size: 19.2px;
  }

  .table-wrapper {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  .table-infos { 
    width: 100%;
  }

  .infos-wrapper {
    flex-direction: column;
    padding: 30px 20px;
    width: 100%;
  }

  .teacher-wrapper {
    height: auto;
    padding: 20px;
  }

  .teacher-wrapper p {
    font-size: 11px;
  }

  .teacher-wrapper h3 {
    font-size: 14px;
  }

  .teacher-infos {
    width: calc(100% + 1px);
    margin-left: -20px;
  }

  .more-infos-wrapper {
    width: 85%;
  }

  .who-wrapper {
    padding: 20px;
  }

  .who-wrapper h3 {
    font-size: 13.3px;
  }

  .who-wrapper p {
    font-size: 11px;
  }

  .who-wrapper li {
    font-size: 11px;
  }

  .free-wrapper {
    align-items: center;
    gap: 20px;
    }

  .free-wrapper button {
    width: 100%;
    padding: 5px;
    font-size: 11px;
  }

  .free-wrapper h3 {
    font-size: 13.3px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
  }

  footer p {
    font-size: 11px;
  }

  .only-desk {
    display: none;
  }

  footer img {
    width: 8%;
  }

  h1 {
    font-size: 23px;
  }
}
